<div class="row">
  <div class="col-sm-12">
    <nb-card>
      <nb-card-header class="text-center">Difficulty Level Setup</nb-card-header>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Create Difficulty Level">
            <div class="container">
              <br>
              <form class="form-horizontal" [formGroup]="userForm">
                <div class="form-group row">
                  <label for="difflavel" class="col-sm-3 control-label">Number of Difficulty Levels per Category</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" id="difflavel" placeholder="Number of Difficulty Levels per Category"
                      formControlName="noofdifflavelspercata" [readonly]="readonlyallFlag" [ngStyle]="{'background-color':readonlyallFlag?'#A9A9A9':''}" max="3" min="1" (keyup)="getmaxDiffLevels($event)">
                    <div *ngIf="!userForm.controls.noofdifflavelspercata.valid && userForm.controls.noofdifflavelspercata.touched"
                      style="color:#f50c04;margin-top: 5px;">Please
                      enter Number of Difficulty Levels per Category.</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="noofquestionperdifflavel" class="col-sm-3 control-label">Number of Questions per
                    Difficulty Level</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" id="noofquestionperdifflavel" placeholder="Last Name"
                      formControlName="noofquestionperdifflavel" [readonly]="readonlyallFlag" [ngStyle]="{'background-color':readonlyallFlag?'#A9A9A9':''}" max="10" min="1" (keyup)="getmaxQues($event)">
                    <div *ngIf="!userForm.controls.noofquestionperdifflavel.valid && userForm.controls.noofquestionperdifflavel.touched"
                      style="color:#f50c04;margin-top: 5px;">Please
                      enter Number of Questions per Difficulty Level.</div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="offset-sm-3 col-sm-9">
                    <button type="submit" class="btn btn-warning" [disabled]="!userForm.valid" (click)="addValueDiffLevel_firstForm()"
                      *ngIf="firstButtonDispStatus">Save</button>
                  </div>
                </div>
              </form>
              <!-- //////////////////////////////Second Form//////////////////////////// -->
              <form class="form-horizontal" [formGroup]="userForm1" *ngIf="secondFormDispStatus">
                <div class="form-group row">
                  <label class="col-sm-3 control-label">Select Category</label>
                  <div class="col-sm-9">
                    <select name="" class="form-control" formControlName="cataList" (change)="getDefaultvalue()">
                      <option value="">Select Category</option>
                      <option value="allCategories">Select All Categories</option>
                      <option value="{{c.category}}" *ngFor="let c of categoryList">{{c.category}}</option>
                    </select>
                    <div *ngIf="!userForm1.controls.cataList.valid && userForm1.controls.cataList.touched" style="color:#f50c04;margin-top: 5px;">Please
                      select a Category.</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputSelectLevelName" class="col-sm-3 control-label">Level Name</label>
                  <div class="col-sm-9">
                    <select name="" id="inputSelectLevelName" class="form-control" formControlName="inputSelectLevelName" (change)="getDefaultvalue()">
                      <option value="">Type of Difficulty</option>
                      <option value="{{level}}" *ngFor="let level of levelnames">{{level}}</option>
                    </select>
                    <div *ngIf="!userForm1.controls.inputSelectLevelName.valid && userForm1.controls.inputSelectLevelName.touched"
                      style="color:#f50c04;margin-top: 5px;">Please
                      select a Diffivulty Level.</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="questionValue" class="col-sm-3 control-label">Question value</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" id="questionValue" placeholder="Question value"
                      formControlName="questionValue">
                    <div *ngIf="!userForm1.controls.questionValue.valid && userForm1.controls.questionValue.touched"
                      style="color:#f50c04;margin-top: 5px;">Please
                      enter Question Value.</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="hintPenalty" class="col-sm-3 control-label">Hint Penalty</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" id="hintPenalty" placeholder="Hint Penalty"
                      formControlName="hintPenalty">
                    <div *ngIf="!userForm1.controls.hintPenalty.valid && userForm1.controls.hintPenalty.touched" style="color:#f50c04;margin-top: 5px;">Please
                      enter Hint Penalty.</div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="offset-sm-3 col-sm-9">
                    <button type="submit" class="btn btn-warning" [disabled]="!userForm1.valid" (click)="addDifficultyLevel_secondForm()">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </nb-tab>
          <nb-tab tabTitle="Edit Difficulty Level">
            <div class="container">
              <!-- <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)"></ng2-smart-table> -->
            </div>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>