<div class="row">
  <div class="col-sm-12">
    <nb-card>
      <nb-card-header class="text-center">Update Participant</nb-card-header>
      <nb-card-body>
        <nb-tabset>
          <nb-tab tabTitle="Edit Participant">
            <div class="container">
              <br>
              <form class="form-horizontal" [formGroup]="userForm">
                <div class="form-group row">
                  <label for="inputDeletOrg" class="col-sm-3 control-label">Select Title</label>
                  <div class="col-sm-9">
                    <select name="" id="inputDeletOrg" class="form-control" formControlName="title">
                      <option value="">Title</option>
                      <option value="Mr.">Mr.</option>
                      <option value="Ms.">Ms.</option>
                      <option value="Mrs.">Mrs.</option>
                      <option value="Dr.">Dr.</option>
                    </select>
                    <div *ngIf="!userForm.controls.title.valid && userForm.controls.title.touched" style="color:#f50c04;margin-top: 5px;">Please
                      select Title.</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputOrgName" class="col-sm-3 control-label">First Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputOrgName" placeholder="First Name" formControlName="firstname">
                    <div *ngIf="!userForm.controls.firstname.valid && userForm.controls.firstname.touched" style="color:#f50c04;margin-top: 5px;">Please
                      enter First Name.</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputOrgName" class="col-sm-3 control-label">Last Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputOrgName" placeholder="Last Name" formControlName="lastname">
                    <div *ngIf="!userForm.controls.lastname.valid && userForm.controls.lastname.touched" style="color:#f50c04;margin-top: 5px;">Please
                      enter Last Name.</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputOrgName" class="col-sm-3 control-label">User Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputOrgName" placeholder="Enter a User Name(Max. 8 charecters)"
                      maxlength="8" formControlName="username">
                    <div *ngIf="!userForm.controls.username.valid && userForm.controls.username.touched" style="color:#f50c04;margin-top: 5px;">Please
                      enter User Name.</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputOrgName" class="col-sm-3 control-label">Email</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputOrgName" placeholder="Provide Participant Email ID"
                      formControlName="emailid">
                    <div *ngIf="!userForm.controls.emailid.valid && userForm.controls.emailid.touched" style="color:#f50c04;margin-top: 5px;">Please
                      enter Email.</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPhoneUpdate" class="col-sm-3 control-label">Phone</label>
                  <div class="col-sm-3">
                    <input type="number" class="form-control" id="inputPhoneUpdate" placeholder="Country Code"
                      formControlName="countrycde">
                    <div *ngIf="!userForm.controls.countrycde.valid && userForm.controls.countrycde.touched" style="color:#f50c04;margin-top: 5px;">Please
                      Enter Country Code.</div>
                  </div>
                  <div class="col-sm-3">
                    <input type="number" class="form-control" id="inputPhoneUpdate" placeholder="Area Code"
                      formControlName="areacde">
                    <div *ngIf="!userForm.controls.areacde.valid && userForm.controls.areacde.touched" style="color:#f50c04;margin-top: 5px;">Please
                      Enter Area Code.</div>
                  </div>
                  <div class="col-sm-3">
                    <input type="number" class="form-control" id="inputPhoneUpdate" placeholder="Telephone Number"
                      formControlName="telnoo">
                    <div *ngIf="!userForm.controls.telnoo.valid && userForm.controls.telnoo.touched" style="color:#f50c04;margin-top: 5px;">Please
                      Enter Phone No.</div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="offset-sm-3 col-sm-9">
                    <button type="submit" class="btn btn-warning btn-group-full-width" [disabled]="!userForm.valid"
                      (click)="updateParticipant()">Update
                      Participant</button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="offset-sm-3 col-sm-9">
                    <div style="text-align: center;"><button class="btn"><a [routerLink]="['/pages/participant']">
                          <font color="blue">Back to Summary</font>
                        </a></button></div>
                  </div>
                </div>
              </form>
            </div>
          </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div>